node_modules
.env
*.sqlite
**/uploads
!**/.gitkeep

./front-mobile/.expo/*
./front-mobile/npm-debug.*
./front-mobile/*.jks
./front-mobile/*.p8
./front-mobile/*.p12
./front-mobile/*.key
./front-mobile/*.mobileprovision
./front-mobile/*.orig.*
./front-mobile/web-build/